body{
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}
/*определила тип шрифта для всего документа;
 убрала отступы браузера*/

.head-menu{
    text-align: center;
    padding-top: 30px;
    padding-bottom: 35px;
}
/*Меню страницы. Определила расположение меню: внутренние отступы сверху-снизу и расположила блок по центру*/
a{
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    color: #45b39d;
}
a:link{
    text-decoration: none;
}
/*Меню страницы. Для позиций меню определила параметры шрифта (цвет, стиль, размер), преобразовала все буквы в заглавные*/
.menu-margin{
    margin-right: 65px;
}

/*Блок основного контента. Основной контент вкл фон, текст + кнопку*/
.content-block{
    background-image: url(../img/Фон@1X.png);
    background-size: cover;
    padding-bottom: 90px;
    text-align: center;
    color: #373737;
}
/*Блок основного контента: Весь блок. Разместила фон, задала ему обтекаемость текста.
 Задала расположение текста в контент-блоке (заголовок+осн текст) по центру и цвет*/

.content-title{
    text-transform: uppercase;
    font-size: 22px;
    font-weight: bold;
    padding-top: 50px;
}
/*Блок основного контента: Заголовок. Трансформировала текст в заглавные буквы,
 задала размер и жирность шрифта, установила внутренний отступ от края фона*/

/*Блок основного контента: Текст. Задаю каждому параграфу блочно-строчное свойство
*/
.content-text-1{
    display: inline-block;
    padding-left: 110px;
    padding-right: 110px;
    font-size: 16px;
    font-weight: bold;
    line-height: 1.5;
}
.content-text-2 {
    display: inline-block;
    padding-left: 110px;
    padding-right: 110px;
    padding-bottom: 40px;
    font-size: 16px;
    font-weight: bold;
    line-height: 1.5;
}

.button{
    display: inline-block;
    padding: 20px 45px;
    background-color: #16a085;
    border-radius: 4px;
    text-transform: uppercase;
    font-size: 12px;
    color: white;
    font-weight: lighter;
}
.copyright{
    text-align: right;
    margin-right: 100px;
    margin-bottom: 45px;
    margin-top: 45px;
    font-size: 16px;
    font-weight: bold;
    color: #373737;
}
